Source: picodrive
Section: user/games/picodrive
Priority: extra
Maintainer: Arno11 <arno11-n900@outlook.com>
Build-Depends: debhelper (>= 5), libc6 (>= 2.29), libpng16-16 (>= 1.6.2-1), libsdl1.2debian (>= 1.2.11), zlib1g (>= 1:1.1.4)
Standards-Version: 1.92.3+leste1

Package: picodrive
Architecture: any
Depends: ${shlibs:Depends}
Description: Megadrive MegaCD 32X Emulator

