Source: picodrive
Section: user/games
Priority: extra
Maintainer: Arno11 <arno11-n900@outlook.com>
Build-Depends: debhelper (>= 10), libc6, libpng-dev, libsdl1.2-dev, zlib1g, zip, libgles-dev
Standards-Version: 4.3.0

Package: picodrive
Architecture: any
Depends: ${shlibs:Depends}
Description: Megadrive MegaCD 32X Emulator.
 This application requires a physical keyboard to work properly.

