#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1

%:
	dh $@

override_auto_configure:
	./configure --platform=generic --sound-drivers=sdl --with-sdl-gles=yes

override_dh_auto_build:
	$(MAKE) all